<%- include ('partials/header.ejs') %>
    <%- include ('partials/navbar.ejs') %>
        <h1 style="text-align: center; color: #a34fb8;">Bem-vindo a Página de Motos</h1>
        <hr>
        <div class="container">
            <div class="card">
                <div class="card-header w-100 m-0">
                    <h2>Cadastrar Motos:</h1>
                </div>
                <div class="card-body w-75">
                    <form method="POST" action="/motos/new">
                        <label>Nome da Moto</label>
                        <input type="text" name="nome" id="nome" placeholder="Insira o nome da moto"
                            class="form-control" required>

                        <label>Marca da Moto</label>
                        <input type="text" name="marca" id="marca" placeholder="Insira a marca da moto"
                            class="form-control" required>

                        <label>Preço da Moto</label>
                        <input type="text" name="preco" id="preco" placeholder="Insira o preço da moto"
                            class="form-control" required>
                        <br>
                        <button class="btn btn-success">Cadastrar</button>
                        <button type="reset" class="btn btn-secondary ml-2">Limpar</button>
                    </form>
                </div>
            </div>
        </div>
        <h3 style="text-align: center; color: #a34fb8;">Lista de Motos</h3>
        <div class="container mb-5">
            <div class="card">
                <div class="card-header w-100 m-0">
                    <h2>Motos</h1>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover table-striped mx-auto">
                        <thead class="table-danger w-100">
                            <th>Nome</th>
                            <th>Marca</th>
                            <th>Preço</th>
                            <th colspan="2" style="text-align: center;">Ações</th>
                        </thead>
                        <tbody>
                            <!-- FOREACH -->
                            <% motos.forEach(moto=> { %>
                                <tr>
                                    <td>
                                        <%= moto.nome %>
                                    </td>
                                    <td>
                                        <%= moto.marca %>
                                    </td>
                                    <td>R$ <%= moto.preco.toLocaleString('pt-br', { style: "currency", currency: "BRL"}) %>
                                    </td>

                                    <td class="text-center">
                                        <button class="btn btn-warning btn-sm">Editar</button>
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-danger btn-sm ml-4">Excluir</button>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
<br>
        <%- include ('partials/footer.ejs') %>