<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
<div class="container">
    <div class="card">
        <div class="card-header w-100 m-0">
            <h1>Alterar carro</h1>
            <hr>
            <form method="POST" action="/onibus/update/<%= onibus.id %>">
                <label>Nome do ônibus:</label>
                <input type="text" name="nome" id="nome" value="<%= onibus.nome %>" class="form-control" required>
                
                <label>Marca do ônibus:</label>
                <input type="text" name="marca" id="marca" value="<%= onibus.marca %>" class="form-control" required>

                <label>Preço do ônibus:</label>
                <input type="text" name="preco" id="preco" value="<%= onibus.preco %>" class="form-control" required>
                <br>
                <input type="hidden" name="id" value="<%= onibus.id %>">
                <input type="submit" class="btn btn-warning" value="Alterar" onclick="return confirm('Confirma as alterações realizadas para o onibus <%= onibus.nome %>?')">
            </form>
            <hr>
        </div>
    </div>
</div>
<br>
<%- include ('partials/footer.ejs') %>